<br>
<br>
<h3>My Favourites.</h3>
<br>
<h6>Reading and podcasting serve as my primary resources for personal and professional development. Despite initially resisting, I transitioned to ebooks at my wife's suggestion. </h6>

<h6>Yet, I found myself yearning for the simplicity of glancing at my bookshelf to reminisce about old favorites. Thus, this compilation serves as my virtual bookshelf, capturing my favourite reads from recent years.</h6>


<div class="card-columns-4 m-3 mt-5">
  {% for book in include.source %} {% include reading/book-card.html %} {%
  endfor %}
</div>
