---
---
@import "portfolYOU";

.badge-light {
  @include themed(background-color, $info, $light);
}

.circle-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 15px;
}

.logo-image {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  margin-right: 5px;
  object-fit: cover;
  vertical-align: bottom;
  object-position: center;
}

.inline-block-child {
  display: inline-block;
}