<div class="col mt-4">
  <div class="timeline-body bg-themed">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">
          <p>{{ item.title }}</p>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p>{{ item.description }}</p>

          <div>
            {% for skill in item.skills %}
              <span class="badge badge-light">{{ skill }}</span>
            {% endfor %}
          </div>

        </div>
      </div>
    {% endfor %}
  </div>
</div>