<div class="col mt-4">
  <div class="timeline-body bg-themed">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">

          <div class='parent'>
            {% if item.img %}
              <div class='child inline-block-child'>
                <img id="{{ item.img }}" class="logo-image" src="{{ item.img }}" alt="{{ item.company }} logo" />
              </div>
            {% endif %}
            <div class='child inline-block-child'>
              <p class="timeline-text">{{ item.title }}</p>
              <p class="timeline-text">{{ item.company }}</p>
              <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
            </div>
          </div>


          <!-- <img id="{{ item.img }}" class="logo-image" src="{{ item.img }}" alt="{{ item.img }}" />
          <p>{{ item.title }}</p>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6> -->
          {% if item.description.first %}
            <ul>
              {% for description_item in item.description %}
                <li>{{ description_item }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <p>{{ item.description }}</p>
          {% endif %}

          <div>
            {% for skill in item.skills %}
              <span class="badge badge-light">{{ skill }}</span>
            {% endfor %}
          </div>

        </div>
      </div>
    {% endfor %}
  </div>
</div>